.menu-container>ul>li{
    text-align: center;
    background: #00CB3F;
    border-top: 1px solid #d7d7d7;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.menu-container>ul>li>a{
    color: #fff;
    text-decoration: none;
}

.title{
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #dc290b;
    font-family: Helvetica;
    background-image: url('../images/h1bg.png');
    background-repeat: no-repeat;    
    background-position-x: center;
    background-position-y: bottom;
}

#welcome-page{
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-welcome{
    text-align: center;
    line-height: 30px;
    color: #6b0302;
    font-size: 15px;
}

#menu-page{
    background: gainsboro;
    padding-top: 30px;
    padding-bottom: 30px;
}

.center-text{
    text-align: center;
}

#menus{
    padding-top: 20px;
    padding-bottom: 20px;         
    background: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ),
      url('../images/menubg.png')
}

#menus h1{
    color: #ffffff;
}

.view-more{
    text-align: center;
    padding: 20px 10px;
}

#contact-page{
    padding-top: 20px;
    padding-bottom: 20px;
    background: url('../images/footerbg.jpg');
    background-repeat: repeat;
    background-size: cover;
}

#contact-page h2{
    color: #dc290b;    
    font-family: 'Arial Narrow Bold'
}

#contact-page h6{
    font-weight: bold;
}

#contact-page p{
    font-size: 14px;
}

#bottom-page{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #6b0302;
}

#bottom-page{
    color: #fff;
}

#bottom-page a{
    color: red;
}

.sidebar{
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 633px;
    background: orange;
    z-index: 1000;
}

.margin-0{
    margin: 0;
}

#logo{
    padding-top: 10px;
    padding-bottom: 20px;
}

.phone-no{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.logo-icons{
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-top{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.menu-top p{
    color: #FF4F67;
    text-align: center;
    font-size: 16px;   
    padding-bottom: 10px; 
}

.menu-top button{
    margin-bottom: 20px;
}